<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a database
3.  Execute SQL queries to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate tables.

Let's first load the RSQLite package:

In [1]:
library("DBI")

In [2]:
library("RSQLite")

Warning message:
"package 'RSQLite' was built under R version 3.6.3"

## Problem 1

#### Create tables

Establish a connection **conn** to the RSQLite database **FinalDB.sqlite**, and create the following four tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

In [3]:
# Write your query here
conn <- dbConnect(RSQLite::SQLite(),"FinalDB.sqlite")

In [4]:
#CROP_DATA:
df1 <- dbExecute(conn, 
                    "CREATE TABLE CROP_DATA (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [5]:
#FARM_PRICES:
df2 <- dbExecute(conn, 
                    "CREATE TABLE FARM_PRICES (
                                      CD_ID INTEGER NOT NULL,
                                      DATE DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      PRICE_PRERMT FLOAT(6),
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [6]:
df3 <- dbExecute(conn, "CREATE TABLE DAILY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                    errors=FALSE
                    )

    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [7]:
df4 <- dbExecute(conn, "CREATE TABLE MONTHLY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(8),
                                PRIMARY KEY (DFX_ID)
                                )",
                    errors=FALSE
                    )

    if (df4 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [8]:
#check list of tables in the present db.
dbListTables(conn)

[1] "CROP_DATA"   "DAILY_FX"    "FARM_PRICES" "MONTHLY_FX"

## Problem 2

#### Read Datasets and load your tables in database

Read the datasets into R dataframes using the urls provided above. Then load your tables in database.

In [9]:
# Write your query here
crop_df <- read.csv('Annual_Crop_Data.csv', colClasses=c(YEAR="character"))
farm_df <- read.csv('Monthly_Farm_Prices.csv', colClasses=c(DATE="character"))
daily_df <- read.csv('Daily_FX.csv', colClasses=c(date="character"))
monthly_df <- read.csv('Monthly_FX.csv', colClasses=c(date="character"))

sqlSave(conn,crop_df,"CROP_DATA", append = TRUE, fast = FALSE, rownames = FALSE, verbose = FALSE)
sqlSave(conn,farm_df,"DAILY_FX", append = TRUE, fast = FALSE, rownames = FALSE, verbose = FALSE)
sqlSave(conn,daily_df,"CROP_DATA", append = TRUE, fast = FALSE, rownames = FALSE, verbose = FALSE)
sqlSave(conn,monthly_df,"MONTHLY_FX", append = TRUE, fast = FALSE, rownames = FALSE, verbose = FALSE)

head(crop_df)
head(farm_df)
head(daily_df)
head(monthly_df)

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"not all columns named in 'colClasses' exist"Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"not all columns named in 'colClasses' exist"

ERROR: Error in sqlSave(conn, crop_df, "CROP_DATA", append = TRUE, fast = FALSE, : could not find function "sqlSave"

## Now execute SQL queries using the RSQLite R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

In [10]:
dbWriteTable(conn, "CROP_DATA", crop_df, overwrite=TRUE, header = TRUE)

In [11]:
dbWriteTable(conn, "FARM_PRICES", farm_df, overwrite=TRUE, header = TRUE)

In [12]:
dbWriteTable(conn, "DAILY_FX", daily_df, overwrite=TRUE, header = TRUE)

In [13]:
dbWriteTable(conn, "MONTHLY_FX", monthly_df, overwrite=TRUE, header = TRUE)

In [14]:
# Write your query here
dbGetQuery(conn, 'SELECT COUNT(*) FROM FARM_PRICES')

  COUNT(*)
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

In [15]:
# Write your query here
dbGetQuery(conn, 'SELECT DISTINCT(GEO) FROM FARM_PRICES')

  GEO
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

In [16]:
# Write your query here
dbGetQuery(conn, "SELECT HARVESTED_AREA AS HECTARES_OF_RYE_IN_1968, CROP_TYPE, GEO
    FROM CROP_DATA 
    WHERE YEAR BETWEEN 1968 AND 1969 AND
          CROP_TYPE='Rye' AND 
          GEO='Canada' ")

  HECTARES_OF_RYE_IN_1968 CROP_TYPE GEO
1 274100                  Rye       Canada

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

In [17]:
# Wriet your query here
dbGetQuery(conn, "SELECT * FROM FARM_PRICES WHERE CROP_TYPE='Rye' LIMIT 6")

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1  4    1985-01-01 Rye       Alberta      100.77
2  5    1985-01-01 Rye       Saskatchewan 109.75
3 10    1985-02-01 Rye       Alberta       95.05
4 11    1985-02-01 Rye       Saskatchewan 103.46
5 16    1985-03-01 Rye       Alberta       96.77
6 17    1985-03-01 Rye       Saskatchewan 106.38

## Problem 7

#### Which provinces grew Barley?

In [18]:
# Write your query here
dbGetQuery(conn, "SELECT DISTINCT(GEO) AS PROVINCE
FROM CROP_DATA 
WHERE CROP_TYPE = 'Barley'")

  PROVINCE
1 Alberta
2 Canada
3 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

In [19]:
# Write your query here
dbGetQuery(conn, 'SELECT min(DATE) FIRST_DATE, max(DATE) LAST_DATE FROM FARM_PRICES')

  FIRST_DATE LAST_DATE
1 1985-01-01 2020-12-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

In [20]:
# Write your query here

dbGetQuery(conn, "SELECT DISTINCT(CROP_TYPE) AS CROPS_GREATER_OR_EQUAL_350
    FROM FARM_PRICES 
    WHERE PRICE_PRERMT >= 350 ")

  CROPS_GREATER_OR_EQUAL_350
1 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

In [21]:
# Write your query here
dbGetQuery(conn, "SELECT CROP_TYPE, AVG_YIELD, YEAR
FROM CROP_DATA 
WHERE GEO = 'Saskatchewan' AND YEAR BETWEEN 2000 AND 2001
    ORDER BY AVG_YIELD DESC")

  CROP_TYPE AVG_YIELD YEAR
1 Barley    2800      2000-12-31
2 Wheat     2200      2000-12-31
3 Rye       2100      2000-12-31
4 Canola    1400      2000-12-31

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

In [22]:
# Write your query here

dbGetQuery(conn, "SELECT CROP_TYPE, GEO, AVG(AVG_YIELD) AS KG_per_hectare
            FROM CROP_DATA WHERE YEAR >= 2000
            GROUP BY CROP_TYPE, GEO
            ORDER BY AVG(AVG_YIELD) DESC")

   CROP_TYPE GEO          KG_per_hectare
1  Barley    Alberta      3450.714
2  Barley    Canada       3253.762
3  Wheat     Alberta      3100.619
4  Barley    Saskatchewan 2971.048
5  Wheat     Canada       2845.333
6  Rye       Alberta      2683.810
7  Rye       Canada       2543.905
8  Wheat     Saskatchewan 2429.381
9  Rye       Saskatchewan 2226.714
10 Canola    Alberta      1999.238
11 Canola    Canada       1873.381
12 Canola    Saskatchewan 1754.857

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

In [23]:
# Write your query here

dbGetQuery(conn, "SELECT YEAR, CROP_TYPE, GEO, HARVESTED_AREA, AVG_YIELD
    FROM CROP_DATA 
    WHERE YEAR =(SELECT MAX(YEAR) FROM CROP_DATA) AND CROP_TYPE='Wheat' AND 
          GEO='Canada'
    ORDER BY YEAR DESC" )

  YEAR       CROP_TYPE GEO    HARVESTED_AREA AVG_YIELD
1 2020-12-31 Wheat     Canada 10017800       3512

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

In [26]:
# Write your query here

dbGetQuery(conn, "SELECT M.DATE ,F.DATE, F.CROP_TYPE, F.GEO, F.PRICE_PRERMT, F.PRICE_PRERMT/M.FXUSDCAD AS MT_USD
                    FROM FARM_PRICES F, MONTHLY_FX M
                    WHERE F.DATE = M.DATE AND F.CROP_TYPE = 'Canola' AND F.GEO = 'Saskatchewan'
                    ORDER BY M.DATE DESC LIMIT 6")

  DATE       DATE       CROP_TYPE GEO          PRICE_PRERMT MT_USD
1 2020-12-01 2020-12-01 Canola    Saskatchewan 507.33       396.1128
2 2020-11-01 2020-11-01 Canola    Saskatchewan 495.64       379.2718
3 2020-10-01 2020-10-01 Canola    Saskatchewan 474.80       359.2965
4 2020-09-01 2020-09-01 Canola    Saskatchewan 463.52       350.4057
5 2020-08-01 2020-08-01 Canola    Saskatchewan 464.60       351.3827
6 2020-07-01 2020-07-01 Canola    Saskatchewan 462.88       342.9122

## Author(s)

<h4> Jeff Grossman </h4>

<h4> D.M. Naidu </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

<h4> Lakshmi Holla </h4>


## Change log

| Date       | Version | Changed by    | Change Description                        |
| ---------- | ------- | ------------- | ----------------------------------------- |
| 2022-03-03 | 1.0     | D.M. Naidu    | Converted intial version to RSQLite       |

## <h3 align="center"> Â© IBM Corporation 2022. All rights reserved. <h3/>